[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
scikit-learn = "*"

[packages]
setuptools-scm = "*"
awscli = "*"
pandas = "*"
xlrd = "*"
fastparquet = "*"
numpy = "*"

[requires]
python_version = "3.7"
